# ---- build outputs / generated artifacts ----
build/
sw/obj/
# Vitis / Vivado HW build
hw/hw/
hw/hw_emu/
hw/obj/
hw/obj.*/
hw/.ipcache/
hw/.Xil/
hw/_x/
*.bo
*.jou
*.log
vivado*.backup.*
xilinx:*
.run/
# Bluespec / Bluesim scratch (from manual bsc -sim runs)
*.ba
*.cxx
sim.out
sim.out.so
model_*.h
# Linux kernel module (driver) build
*.ko
*.mod
*.mod.c
*.mod.o
modules.order
Module.symvers
.*.cmd
.tmp_versions/

# CLion
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#cmake-build-*
